<script type="text/javascript">
(function(w, d) {
    w._rab_review_q = w._rab_review_q || [];

    w._rab_review_q.push({
        id: '45213e5dc12904d0f4c294eee34a6a3d',
        reviewDivId: 'review-widget-container'
    });

    var el = d.createElement("script");
    el.async=true;
    el.src="//cdn.rateabiz.com/reviews/loader.js";
    el.type="text/javascript";
    var s0 = d.getElementsByTagName("script")[0];
    s0.parentNode.insertBefore(el, s0);
})(window, document);
</script>
<div class="container">
    <div class="col-sm-12" id="review-widget-container"></div>
</div>