<div class="container">
    <!--Store the testimonials in DB as well with contact information for authenticity.-->
    <h2 class="text-center">Testimonials</h2>
    <h4 class="text-center"> Read what people have to say about us...</h4>
    <div class="row">
        <div class="col-md-4">            
            <img class="img-responsive img-circle" src="../../Images/braces2.jpg" />
            <div class="well"><p class="text-info">Awesome!
            Located conveniently, Leaside Village Dental was the perfect place for me to go to. I had a great experience.
            The place was clean, neat and very welcoming. The dentists were highly qualified and very helpful in helping me understand the root
                 cause of my problem and devised a treatment plan to make sure the treatment ran in a smooth and timely manner. I have already
                 recommended Leaside Village Dental to my all friends and colleagues. It's the place to go for all your dental work!Less
            - Ali K. 4/24/2015</p></div>
        </div>
        <div class="col-md-4">
            <img class="img-responsive img-circle" src="../../Images/braces.jpg" />

        </div>
        <div class="col-md-4">
            <img class="img-responsive img-circle" src="../../Images/braces2.jpg" />

        </div>
    </div>


</div>