<div class="container">
    <div class="row">
        <article>
            Preventing disease and detecting health issues at an early stage is essential to living a healthy life.
            Consult a dentist for better oral health. Be sure to discuss specific health questions and concerns with your doctor.
        </article>
    </div>
    <div class="row">
        <section>
            Preventive care focuses on evaluating your health when you are symptom-free. Routine checkups and screenings
            can help you avoid more serious health problems down the line. Even if you’re in the best shape of your life
            a serious condition with no signs or symptoms may put your health at risk.
        </section>
    </div>
</div>