<div class="panel panel-success" ng-controller="ContactUsCntrl">
    <div class="panel-heading"><h4>Contact Us</h4></div>
    <div class="panel-body">

        <p> Any questions or information required ? - Fill in the form below and send it to us someone will shortly assist you regarding your request. </p>

        <div class="input-group">
            <i class="input-group-addon glyphicon glyphicon-user"></i>
            <input type="text" class="form-control" placeholder="FirstName" aria-describedby="basic-addon1" ng-model="model.firstName">
            <input type="text" class="form-control" placeholder="LastName" aria-describedby="basic-addon1" ng-model="model.lastName">
        </div>
        <br />
        <div class="input-group">
            <i class=" input-group-addon glyphicon glyphicon-phone-alt"></i>
            <input type="text" class="form-control" placeholder="Phone" aria-describedby="basic-addon1" ng-model="model.phone">
        </div>
        <br />
        <div class="input-group">
            <i class=" input-group-addon glyphicon glyphicon-envelope"></i>
            <input type="text" class="form-control" placeholder="Email" aria-describedby="basic-addon1" ng-model="model.email">
        </div>
        <br />
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">@</span>
            <textarea>content</textarea>
        </div>
        <br />

        <a class="btn btn-lg btn-primary" ng-click="Click();">Save</a>
    </div>
</div>
