<div class="container" ng-controller="CarouselDemoCtrl">
    <div style="height: 350px">
        <carousel interval="myInterval">
            <slide ng-repeat="slide in slides" active="slide.active">
                <div class="col-xs-5 ">
                    <h3 class="text-center text-primary"><i class="glyphicon glyphicon-star"></i>{{slide.heading}}</h3>
                    <br/>
                    <div class="panel-body">  
                        <ul class="list-unstyled">
                            <li ng-repeat="item in slide.text" class="text-left text-primary">{{item}}</li>
                        </ul>                      
                    </div>
                    <a href="#{{slide.path}}" class="btn btn-md btn-success pull-right">More</a>
                </div>
                <div class="col-xs-7">
                    <img class="img-responsive" ng-src="{{slide.image}}">
                    <div class="carousel-caption">
                        <h4>{{slide.name}}</h4>
                    </div>
                </div>

            </slide>
        </carousel>
    </div>

</div>

<div ng-include="'Templates/Home/welcome.html'"></div>
<div ng-include="'Templates/reviews/testimonials.html'"></div>


<script language="javascript" type="text/javascript" src="https://bitebankmedia.com/embed/get-code/8F7dfSQxy4jKTbYO5vW3OU9KhZAz7pnkmAWwG9GE7NyE6bsvCb93eYBFnYfRd2qC"></script>

