<div class="container" ng-controller="CarouselDemoCtrl">
    <div>
        <carousel interval="myInterval">
            <slide ng-repeat="slide in slides" active="slide.active">
                <h3 class="text-center text-primary visible-lg visible-md animated shake" ><i class="glyphicon glyphicon-star text-success"></i>{{slide.heading}}</h3>
                <h5 class="text-center text-primary visible-xs visible-sm"><i class="glyphicon glyphicon-star text-success"></i>{{slide.heading}}</h5>
                <div class="col-md-7">
                    <img class="img-responsive fixed-max-height-350" ng-src="{{slide.image}}">
                    <div class="carousel-caption">
                        <h4 class="visible-lg visible-md">{{slide.name}}</h4>
                    </div>
                </div>
                <div class="col-md-5 ">
                    
                    <br />
                    <div class="panel-body">
                        <ul class="list-unstyled">
                            <li ng-repeat="item in slide.text" class="text-left text-primary">{{item}}</li>
                        </ul>
                    </div>
                    <a href="#{{slide.path}}" class="btn btn-md btn-success pull-right">More</a>
                </div>
            </slide>
        </carousel>
    </div>

</div>

<div ng-include="'Templates/Home/welcome.html'"></div>
<div ng-include="'Templates/reviews/testimonials.html'"></div>


<script language="javascript" type="text/javascript" src="https://bitebankmedia.com/embed/get-code/8F7dfSQxy4jKTbYO5vW3OU9KhZAz7pnkmAWwG9GE7NyE6bsvCb93eYBFnYfRd2qC"></script>

