<div class="col-xs-12"><h5 class="pull-right">Sunday Office hours are only for the <strong class="site__title">2nd & 4th</strong> Sunday of the month</h5></div>

<div class="visible-md visible-lg container">   
   
    <div class="col-md-7 bg-primary">
       <h5><i class="glyphicon glyphicon-envelope"></i> abc@myleasidedental.ca</h5>
    </div>
    <div class="col-md-5 bg-primary">        
            <h5 class="pull-right">
                <i class="glyphicon glyphicon-phone-alt"></i> Number <strong class="site__title">704.111.XXXX</strong>
                <!--<i class="glyphicon glyphicon-phone"></i> Current Patients <strong class="site__title">BBB.AAA.YYYY</strong>-->
            </h5>
    </div>
</div>
<div ng-controller="CarouselDemoCtrl" ng-cloak style="margin-top:7px">
    <div>        
            <carousel interval="myInterval">
                <slide ng-repeat="slide in slides" active="slide.active">
                    <div class="col-md-7">
                        <img class="img-responsive fixed-max-height-350" ng-src="{{slide.image}}">
                        <div class="carousel-caption">
                            <h4 class="visible-lg visible-md">{{slide.name}}</h4>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <h3 class="text-center text-primary visible-lg visible-md"><i class="glyphicon glyphicon-star text-success"></i>{{slide.heading}}</h3>
                        <h5 class="text-center text-primary visible-xs visible-sm"><i class="glyphicon glyphicon-star text-success"></i>{{slide.heading}}</h5>

                        <ul style="list-style:disc" class="fixed-height-250 text-carousel">
                            <li ng-repeat="item in slide.text" class="text-left">{{item}}</li>
                        </ul>

                        <a href="#{{slide.path}}" class="btn btn-md btn-success pull-right">More</a>
                    </div>
                </slide>
            </carousel>
        
    </div>

</div>

<div  ng-include="'Templates/Home/welcome.html'"></div>
<div  ng-include="'Templates/reviews/testimonials.html'"></div>


<!--<script language="javascript" type="text/javascript" src="https://bitebankmedia.com/embed/get-code/8F7dfSQxy4jKTbYO5vW3OU9KhZAz7pnkmAWwG9GE7NyE6bsvCb93eYBFnYfRd2qC"></script>-->

