<div class="container">
    <div class="row">
        <h3>Welcome to Our Practice in Toronto</h3>
        <p class="text-welcome">
            We are passionate about your smile and comfort. Your smile is one of the first things other people notice. If you want a beautiful, healthy smile and
            exceptional dental health, Dr. Methani and their caring team strive to provide patients in <strong>Toronto ON</strong> the highest quality, most comfortable dental
            care in a relaxing and state-of-the-art environment.
        </p>

    </div>
    <div class="row">
        <div class="col-md-8">
            <ul class="text-ul-styled" style="list-style:square">
                <li>
                    You will notice that we are unique from the minute you walk into our office. You will be greeted by a friendly team of professionals
                    who will take a sincere interest in you and you will be treated like family.
                </li>
                <li>New Patients Welcome! We offer flexible financing and we accept all major credit cards. Click here to view our Finance Options.</li>
                <li>Our patients know that we care about them and that we do what we say we will do.</li>
                <li>We offer patient financing and file insurance for you.</li>
                <li>We use the latest technology & techniques: lasers, digital x-rays, all-ceramic crowns, etc.</li>
                <li>ur passion is to exceed our patient's expectations.</li>
            </ul>
        </div>
        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading text-center box_animated">Current Offers</div>
                <div class="panel-body">
                    <p> Current Offer Text</p>

                </div>
            </div>
        </div>

    </div>

</div>