<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <p class="text-info">
                At Leaside Village Dental, we pride ourselves in providing highly individualized dental care in a gentle, caring and comfortable environment; all while following the highest possible standards of care which allow us to stand behind our work. We realize that the vast majority of patients have some form of dental anxiety. Hence, we ensure that our patients can come in and enjoy our warm and friendly atmosphere, heat and massage dental chairs, watch TV, or even use laughing gas if required to allay their fears; all while feeling good about getting your dental treatment done in an environmentally conscious green office!
            </p>
        </div>
        <div class="col-md-4">
            <p class="text-info">
                Our facility has been built to meet LEED standards and we are a completely digital office! We use digital x-rays to reduce radiation exposure for our patients and intra-oral cameras to educate our patients about their oral health. We follow the most stringent sterilization procedures and controls and have even gone the extra mile to use non-porous quartz working surfaces, touch free sterilization center operations and NanoGuard technology in our cabinets. The Nano-silver in NanoGuard kills bacteria and viruses ensuring no microbes can grow on our cabinets!
            </p>
        </div>
        <div class="col-md-4">
            <p class="text-primary">
                We are located in the Leaside Village (Longo's) plaza. With free parking and evening and weekend appointments available, we make it convenient for our patients to take care of their oral health. Make us a partner in your oral health as we strive to change lives for the better, one smile at a time!
            </p>
        </div>
    </div>
</div>